@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* 				primary: {
					100: '#1b2131',
					200: '#1c2432',
					300: '#1e2b36',
					700: '#366170',
					800: '#3c7d8b',
					900: '#45979d',
				},
				accent: {
					100: '#efefef',
				},
				error: {
					100: '#ff0000',
					500: '#ffcccc',
				},
				success: {
					100: '#00ff00',
					500: '#ccffcc',
				}, */
	:root {
		--p100: #1b2131;
		--p200: #1c2432;
		--p300: #1e2b36;
		--p700: #366170;
		--p800: #3c7d8b;
		--p900: #45979d;
		--a0: #11131a;
		--a100: #efefef;
		--e100: #ff0000;
		--e500: #ffcccc;
		--s100: #00ff00;
		--s500: #ccffcc;
	}
}

html {
	height: 100vh;
	width: 100%;
	background-color: var(--a0);
	color: #efefef;
	font-family: 'Lato', sans-serif;
}

body,
#root,
#modal-root,
#toast-root,
.App {
	height: 100%;
	width: 100%;
}

#modal-root,
#toast-root {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	pointer-events: none;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: #5cb0ff;
	&:hover {
		color: #4fe5ff;
		text-decoration: underline;
	}
	@apply transition-colors duration-150;
}

.fade-in-out {
	animation: fade-in-out 5s;
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
